*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6

Xft.dpi: 192 
Xft.antialias: true 
Xft.hinting: true 
Xft.rgba: rgb 
Xft.autohint: true 
Xft.hintstyle: hintfull 
Xft.lcdfilter: lcdfilter

! URxvt

URxvt.scrollBar: false
URxvt.lineSpace: 1
URxvt.internalBorder: 24
URxvt.font: xft:Hack Nerd Font Mono:style=Regular:size=10
URxvt.boldFont: xft:Hack Nerd Font Mono:style=Bold:size=10
URxvt.italicFont: xft:Hack Nerd Font Mono:style=Italic:size=10
URxvt.boldItalicFont: xft:Hack Nerd Font Mono:style=Bold Italic:size=10
URxvt.cursorUnderline: true
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list
URxvt.keysym.Control-Up:     \033[1;5A
URxvt.keysym.Control-Down:   \033[1;5B
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C

! xtern

XTerm.termName: xterm-256color
XTerm.*.renderFont: true
XTerm.*.faceName: xft:Hack Nerd Font Mono:size=12:Regular:antialias=true
XTerm.*.utf-8: 2
XTerm.*.locale: true
XTerm.*.metaSendsEscape: true
XTerm.*.saveLines: 4096
XTerm.*.geometry: 80x32
XTerm.*.internalBorder: 10
XTerm*savelines: 9000

! double-click to select whole URLs :D 
XTerm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48 


! copy paste
!XTerm.vt100.selectToClipboard: true
XTerm*vt100.translations: #override \
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
    Alt <Key>o: exec-formatted("firefox '%t'", PRIMARY) select-start() select-end()
